<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Insert title here</title>
<script th:src="@{/jquery.min.js}" src="../static/jquery.min.js"></script>
</head>
<body>
	<div>
		<form action="/mqrest/consume" method="POST">
				<textarea name="message" style="width: 300px;height: 300px;" rows="3" cols="3">sssssssssssssssss</textarea><br/>
			<input type="submit" value="提交"  />
		</form>
	</div>
</body>
</html>